/* Css to add styling according to the class appened to the input field */

.c-numeric-input--error {
  border: 2px solid red;
}

.c-numeric-input--valid {
  border: 2px solid green;
}

.c-numeric-input__error-msg {
  color: red;
}
